In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

```bash
pip install sqlalchemy psycopg2-binary 
```

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [7]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [13]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
df.to_sql(name='yellow_taxi_data', con=engine, index=False)

100

In [8]:
query = """
SELECT count(*) FROM yellow_taxi_trips
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "yellow_taxi_trips" does not exist
LINE 2: SELECT count(*) FROM yellow_taxi_trips
                             ^

[SQL:
SELECT count(*) FROM yellow_taxi_trips
]
(Background on this error at: https://sqlalche.me/e/20/f405)

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/