In [3]:
import pandas as pd

In [14]:
import pyarrow.parquet as pq

In [15]:
pd.__version__

'2.2.0'

In [16]:
#df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [17]:
#trips = pq.read_table('yellow_tripdata_2021-01.parquet', nrows=100)
#trips = trips.to_pandas()
parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

parquet_iter = parquet_file.iter_batches(batch_size=100000)
df = next(parquet_iter).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3.0,0.70,1.0,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5,NaN
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2.0,3.30,1.0,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5,NaN
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2.0,4.70,1.0,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5,NaN
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2.0,17.95,2.0,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5,NaN
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5.0,0.37,1.0,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5,NaN

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [11]:
#print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [20]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [21]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.59 s, sys: 131 ms, total: 5.72 s
Wall time: 9.42 s

1000

In [23]:
from time import time

In [24]:
while True: 
    t_start = time()
    df = next(parquet_iter).to_pandas()
  
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 9.297 second
inserted another chunk, took 10.636 second
inserted another chunk, took 12.079 second
inserted another chunk, took 11.795 second
inserted another chunk, took 11.220 second
inserted another chunk, took 11.637 second
inserted another chunk, took 16.395 second
inserted another chunk, took 12.274 second
inserted another chunk, took 11.531 second
inserted another chunk, took 11.488 second
inserted another chunk, took 11.991 second
inserted another chunk, took 9.763 second
inserted another chunk, took 6.397 second

StopIteration:

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-02-03 15:57:03--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolviendo s3.amazonaws.com (s3.amazonaws.com)... 54.231.135.0, 52.217.104.30, 52.217.172.0, ...
Conectando con s3.amazonaws.com (s3.amazonaws.com)[54.231.135.0]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 12322 (12K) [application/octet-stream]
Guardando como: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    en 0s

2024-02-03 15:57:04 (26,3 MB/s) - ‘taxi+_zone_lookup.csv.1’ guardado [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265